Checks:
  - bugprone-*
  -  -bugprone-easily-swappable-parameters
  - clang-analyzer-*
  - cppcoreguidelines-*
  -  -cppcoreguidelines-avoid-c-arrays
  -  -cppcoreguidelines-avoid-do-while
  -  -cppcoreguidelines-avoid-magic-numbers
  -  -cppcoreguidelines-pro-*
  -  -cppcoreguidelines-special-member-functions
  - google-readability-casting
  - modernize-*
  -  -modernize-avoid-c-arrays
  -  -modernize-return-braced-init-list
  -  -modernize-use-integer-sign-comparison
  -  -modernize-use-nodiscard
  -  -modernize-use-trailing-return-type
  - performance-*
  -  -performance-avoid-endl
  -  -performance-enum-size
  - portability-*
  -  -portability-avoid-pragma-once
  - readability-*
  -  -readability-braces-around-statements
  -  -readability-function-cognitive-complexity
  -  -readability-identifier-length
  -  -readability-isolate-declaration
  -  -readability-magic-numbers
  -  -readability-math-missing-parentheses

CheckOptions:
  cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: true
  readability-implicit-bool-conversion.AllowPointerConditions: true
  readability-implicit-bool-conversion.AllowIntegerConditions: true

HeaderFilterRegex: ".*"
ExcludeHeaderFilterRegex: "./lib/.*/"

WarningsAsErrors: "*"
